<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Canadian Global Logistics (CGL®) offers comprehensive air freight services with daily pick-ups, consolidation services, and legalization support. Strategically located near international airports, we ensure efficient, compliant, and timely transportation of your cargo. Request a quote today!"
    />

    <link
      rel="icon"
      type="image/x-icon"
      href="../assets/images/icons/favicon.ico"
    />
    <title>CGL® - Air Transportation</title>
  </head>
  <body>
    <section class="transportation-section air">
      <div class="title-wrapper">
        <div class="transport-icon--wrapper">
          <img
            class="plane-icon"
            src="../assets/images/icons/plane-icon.webp"
            alt="Plane Icon"
          />
        </div>

        <h1>Air Freight Service</h1>
      </div>

      <div class="transport-wrapper">
        <div class="transport-img--wrapper">
          <img src="../assets/images/plane-cgl.jpg" alt="plane image" />
        </div>

        <div class="transport-text--wrapper">
          <p>
            — Canadian Global Logistics is proud to be your trusted partner for
            comprehensive air freight services. We work closely with all major
            carriers, ensuring your cargo is transported safely and efficiently
            to and from international origins and destinations.
          </p>
          <p>Legalization services. Daily pick ups. Consolidation services</p>
          <a href="/quote" target="_blank">Request a quote</a>
        </div>
      </div>
      <div class="transport-text--wrapper__bottom">
        <p>
          Strategically located near international airports, we are optimally
          positioned to manage your air freight needs with the agility and
          responsiveness that today's global markets demand. Our geographical
          advantage enables us to handle your cargo swiftly, reducing transit
          times and ensuring punctuality.
        </p>
        <p>
          Our services are not just limited to transportation. We offer a range
          of additional services such as letter of credit and bank release
          services, aiding in the financial transactions associated with
          international trade. By managing these complex procedures, we ensure
          your transactions are smooth, secure and efficient.
        </p>
        <p>
          At Canadian Global Logistics, we understand the importance of
          compliance in international trade. Hence, we offer legalization
          services to ensure that your goods meet all necessary legal
          requirements for export and import. Our team stays updated with
          evolving international laws and regulations to help you navigate the
          complexities of global trade effortlessly.
        </p>
        <p>
          Additionally, we conduct daily pick-ups, ensuring a smooth flow of
          goods from your premises to their destination. Our reliable and timely
          pick-ups keep your supply chain moving and help you maintain your
          delivery commitments.
        </p>
        <p>
          To further streamline your logistics, we offer consolidation services.
          If you have multiple shipments, we can consolidate them into a single
          larger shipment. This not only optimizes the use of cargo space but
          also reduces handling costs, leading to significant savings.
        </p>
        <p>
          At Canadian Global Logistics, we are committed to delivering air
          freight solutions that are tailored to your unique needs. We strive to
          exceed your expectations by providing reliable, efficient, and
          cost-effective services.
        </p>
        <p>
          With our extensive experience and commitment to customer service, you
          can trust us to handle your air freight with the utmost care and
          professionalism. Let us navigate the complexities of air freight
          logistics, so you can focus on what you do best - running your
          business.
        </p>
      </div>
    </section>
  </body>
</html>
