<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section>
      <h1>Contact</h1>

      <form class="contact-form">
        <h2>Contact Us</h2>
        <div class="input-container">
          <div class="form-group">
            <label for="name">Name:</label>
            <input id="name" name="name" type="text" required />
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input id="email" name="email" type="email" required />
          </div>
        </div>

        <div class="form-group">
          <label for="message">Message:</label>
          <textarea id="message" name="message" rows="4" required></textarea>
        </div>
        <input type="hidden" name="recaptcha_response" id="recaptchaResponse" />
        <button type="submit">Send</button>
      </form>
    </section>

    <script
      src="https://www.google.com/recaptcha/api.js?render=6LddpsMpAAAAAD-7Uj4O_xlo84BMGwjJp_rQBkX1"
      async
    ></script>
  </body>
</html>
