<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Canadian Global Logistics (CGL®) provides personal, long-lasting solutions for your supply chain needs. Discover our comprehensive logistics services for air, ocean, and ground transportation. Trust CGL® to simplify global trade and empower your business growth."
    />

    <link
      rel="icon"
      type="image/x-icon"
      href="../assets/images/icons/favicon.ico"
    />
    <title>CGL® - Home</title>
  </head>
  <body>
    <div class="hero__wrapper hero__wrapper--outer">
      <div class="hero__wrapper hero__wrapper--inner">
        <div class="hero__wrapper hero__wrapper--left">
          <img src="../assets/images/CGL-logo.webp" alt="CGL Logo" />
          <h2 class="hero__title">
            Providing personal long lasting solutions for your supply chain
            needs
          </h2>
          <p class="hero__subtitle">
            — Discover the ease of managing your supply chain with CGL's
            comprehensive logistics services. Let's navigate the global market
            together.
          </p>
          <div class="hero__btn-container">
            <button class="cta-btn cta-btn--color-9">GET STARTED</button>
          </div>
        </div>
      </div>
      <div class="country-label--wrapper" id="popupEl">
        <p id="city-name"></p>
        <span id="country-flag"></span>
      </div>
      <div class="hero__canvas-wrapper">
        <canvas id="globe-canvas"></canvas>
      </div>

      <div class="hero__scroll-down"></div>
    </div>

    <div class="home-content__outer bg">
      <section class="home-section home-section--1">
        <h2>Empowering Global Trade, One Shipment at a Time</h2>
        <p>
          Welcome to Canadian Global Logistics®, your trusted partner in
          comprehensive logistics solutions. With a global reach and a locally
          grounded team, we take the complexity out of shipping. Our experienced
          professionals excel in managing air, ocean, and ground transportation
          to ensure your goods reach their destination safely and on time.
        </p>
        <p>
          We do more than just transportation. From consolidation services to
          legalization and banking procedures, we provide a suite of services
          tailored to your business needs. With strategic locations near
          international airports and a commitment to customer-first service,
          we're uniquely positioned to navigate the challenges of global trade
          efficiently.
        </p>
        <div
          class="home-section__img-container lazy-bg"
          data-src="../assets/images/deal-banner-resized.webp"
        >
          <div class="home-section__logo-wrapper">
            <img
              class="home-section__logo"
              src="../assets/images/CGL-logo-no-shadow.webp"
              alt="CGL Logo without shadow"
            />
          </div>
        </div>
        <p
          class="home-section__intro-paragraph home-section__intro-paragraph--1"
        >
          At Canadian Global Logistics<sup style="font-size: 12px">®</sup>,
          we're not just moving cargo; we're moving businesses forward.<br />
        </p>
        <p class="home-section__intro-paragraph">
          <i
            >Join us in the journey to <b>simplify</b> logistics and
            <b>empower</b> your business growth.</i
          >
        </p>
      </section>

      <div class="scroll-img__container">
        <img
          data-src="../assets/images/scroll-grid-pattern.webp"
          class="scroll-img scroll-img--1 lazy"
          alt="grid pattern"
        />
        <img
          data-src="../assets/images/scroll-grid-pattern.webp"
          class="scroll-img scroll-img--2 lazy"
          alt="grid pattern"
        />
      </div>

      <section class="home-section home-section--2">
        <h2>Our Process, Simplified</h2>
        <p>
          At Canadian Global Logistics®, we believe in making shipping easy and
          efficient. Our streamlined process ensures your sporting equipment
          gets from point A to point B without a hitch. Here's how we do it:
        </p>

        <div class="card-container">
          <div class="card">
            <h4>Order</h4>
            <img
              data-src="../assets/images/order-icon.webp"
              class="lazy"
              alt=""
            />
            <p>
              Whether it's a single shipment or multiple orders, we manage all
              your logistics requirements.
            </p>
            <a href="/quote">Learn more</a>
          </div>
          <div class="card">
            <h4>Consolidate</h4>
            <img
              data-src="../assets/images/consol-icon.webp"
              class="lazy"
              alt=""
            />
            <p>
              We collect and consolidate your orders for cost-effective,
              efficient shipping.
            </p>
            <a href="/about">Learn more</a>
          </div>
          <div class="card">
            <h4>Ship</h4>
            <img
              data-src="../assets/images/shipping-icon.webp"
              class="lazy"
              alt=""
            />
            <p>
              Enjoy less per kilo costs, reduced handling fees, and smooth
              customs clearance.
            </p>
            <a href="/special-handling">Learn more</a>
          </div>
        </div>

        <p>
          With Canadian Global Logistics<sup>®</sup>, shipping your sporting
          equipment becomes a stress-free experience. We pride ourselves on our
          ability to handle every step of the logistics process, from order
          placement to delivery, with utmost precision and efficiency. We
          streamline logistics, allowing you to focus on what truly matters –
          your sporting passion.
        </p>
        <p>
          Our expertise doesn't just stop at efficient consolidation and timely
          shipping. We continually strive to offer real-time tracking, secure
          deliveries, and dedicated support services. We're here not just as a
          service provider, but as your reliable partner committed to
          facilitating your success.
        </p>
        <p>
          As we move forward to the detailed services that Canadian Global
          Logistics<sup>®</sup> offers, we invite you to take a deeper look into
          how each service is tailored to address your specific needs. Join us
          as we redefine the way you experience global logistics. Discover the
          potential of seamless, effortless logistics operations and propel your
          sporting endeavors to new heights.
        </p>
      </section>
    </div>

    <section class="home-section home-section--3">
      <h2>Hockey & Sporting Goods</h2>

      <div class="hockey-wrapper">
        <div class="hockey-img--wrapper">
          <img
            data-src="../assets/images/hockey-img.webp"
            class="lazy"
            alt="Hockey Image"
          />
        </div>
        <div class="hockey-text--wrapper">
          <p>
            Canadian Global Logistics is your trusted partner in the
            transportation of hockey and sporting goods. With us, you can be
            assured of a smooth, hassle-free logistics experience that lets you
            focus on the game, not the gear.
          </p>
          <ul class="hockey-list">
            <li>
              <b>Experience You Can Trust: </b>Leverage our more than 25 years
              of expertise in handling all aspects of importing and exporting
              sporting equipment with the utmost precision and care.
            </li>
            <li>
              <b>Efficient Air Service:</b> Our timely air service options
              ensure your shipments arrive when and where they need to. Whether
              single or consolidated shipments, we manage everything from
              cost-efficient transportation to smooth customs clearance.
            </li>
            <li>
              <b>Ocean Freight Options:</b> Benefit from our economical ocean
              freight services, ideal for non-urgent, off-season orders. We even
              offer direct shipping from Asia to European buyers for maximum
              efficiency.
            </li>
            <li>
              <b>Seamless Bond Shipments: </b>Experience the ease of our bond
              shipping process. We can collect and ship US orders with other
              cargo, ensuring all your goods remain in bond and avoid
              unnecessary border clearance procedures.
            </li>
            <li>
              <b>Comprehensive Warehousing:</b> Enjoy the convenience of
              no-charge warehousing while your orders are being collected for
              export, providing flexibility and security.
            </li>
          </ul>
          <a class="hockey--learn-more__link" href="/sporting-goods"
            >Learn More</a
          >
        </div>
      </div>
    </section>

    <div class="scroll-img__container">
      <img
        data-src="../assets/images/scroll-grid-pattern.webp"
        class="scroll-img scroll-img--3 lazy"
        alt="grid pattern"
      />
      <img
        data-src="../assets/images/scroll-grid-pattern.webp"
        class="scroll-img scroll-img--4 lazy"
        alt="grid pattern"
      />
    </div>
    <section class="home-section home-section--4">
      <h2>Our Services</h2>
      <div class="carousel carousel-home">
        <div class="carousel-cell">
          <!-- need to make a transportation page -->
          <a href="/ocean">
            <img
              src="../assets/images/carousel/canada-shipping.webp"
              alt="Shipping Image"
              class="lazyload"
            />
            <div class="overlay">
              <div class="overlay-text">Transportation Services</div>
            </div>
          </a>
        </div>
        <div class="carousel-cell">
          <a href="/sporting-goods">
            <img
              src="../assets/images/carousel/hockey-carouesl-img.webp"
              alt="Shipping Image"
              class="lazyload"
            />
            <div class="overlay">
              <div class="overlay-text">Hockey <i>&</i> Sporting Goods</div>
            </div>
          </a>
        </div>
        <div class="carousel-cell">
          <a href="/special-handling">
            <img
              src="../assets/images/carousel/delivery-carousel-img.webp"
              alt="Shipping Image"
              class="lazyload"
            />
            <div class="overlay">
              <div class="overlay-text">
                Priority Delivery
                <i>&</i>
                Special Handling
              </div>
            </div>
          </a>
        </div>
      </div>
    </section>

    <!-- newsletter modal form -->
    <div class="modal-bg">
      <div class="modal">
        <h2>Subscribe to our Newsletter!</h2>

        <form class="newsletter-form">
          <label for="name">Name:</label>
          <input type="text" name="name" id="name" placeholder="First name" />
          <span id="nameError" class="error-message error-hidden"
            >Please enter a valid name.</span
          >

          <label for="email">Email:</label>
          <input
            type="text"
            name="email"
            id="email"
            placeholder="abc@example.com"
          />
          <span id="emailEmptyError" class="error-message error-hidden"
            >Email is required.</span
          >
          <span id="emailInvalidError" class="error-message error-hidden"
            >Please enter a valid email address.</span
          >

          <div class="modal__btn-container">
            <button class="modal__subscribe-btn" type="submit">
              Subscribe
            </button>
            <div class="loader loader-hidden"></div>
          </div>
          <input
            type="hidden"
            id="recaptchaResponse"
            name="recaptchaResponse"
          />
          <div id="successMessage" class="success-message success-hidden">
            Subscription successful!
          </div>
        </form>
        <button class="modal__close-btn" type="button">✖</button>
      </div>
    </div>
  </body>
</html>
