<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section>
      <h1>Home</h1>
    </section>

    <div class="modal-bg">
      <div class="modal">
        <h2>Subscribe to our Newsletter!</h2>

        <form class="newsletter-form">
          <label for="name">Name:</label>
          <input type="text" name="name" />
          <label for="email">Email:</label>
          <input type="text" name="email" />
          <button class="modal-subscribe__btn" type="submit">Subscribe</button>
          <button class="modal-close__btn">✖</button>
        </form>
      </div>
    </div>
  </body>
</html>
