<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Canadian Global Logistics provides specialized handling and delivery services for fragile, temperature-sensitive, and high-value shipments. Our professional team and advanced logistics solutions ensure safe and efficient transport tailored to your unique needs. Contact us for a quote today."
    />

    <link
      rel="icon"
      type="image/x-icon"
      href="../assets/images/icons/favicon.ico"
    />
    <title>CGL® - Special Handling</title>
  </head>
  <body>
    <section class="handling-intro__section-1">
      <div class="handling-title--wrapper">
        <h1 class="handling-title">Special Handling & Delivery</h1>
        <p>
          At Canadian Global Logistics, we understand that some shipments
          require special attention and care. Whether it's fragile items,
          temperature-sensitive products, or high-value goods, our special
          handling and delivery services are designed to meet your unique needs.
          Our dedicated team and advanced logistics solutions ensure that your
          shipments are handled with the highest level of professionalism and
          care.
        </p>
      </div>
      <div class="delivery-section--1">
        <div class="delivery-section--1__p1">
          <img
            src="../assets/images/delivery-01.jpg"
            alt="Special Handling Image"
            class="lazyload"
            alt="delivery image 1"
          />
        </div>
        <div class="delivery-section--1__p2">
          <p>
            We specialize in providing tailored solutions for shipments that
            demand extra attention. From delicate, high-value items to goods
            requiring precise temperature control, our special handling and
            delivery services ensure your cargo is transported with the utmost
            care. Rely on our experienced team and cutting-edge logistics
            technology to deliver your shipments safely and efficiently, meeting
            all your unique requirements.
          </p>
          <div class="delivery-ribbon--wrapper">
            <img
              src="../assets//images/special-delivery.webp"
              alt="special delivery ribbon"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
    <section class="handling-services__section-2">
      <h2>Comprehensive Special Handling Services</h2>
      <ul>
        <li>
          <b>Fragile Item Handling:</b><br />Our experts ensure that your
          fragile items are packaged and transported with the utmost care to
          prevent any damage during transit.
        </li>
        <li>
          <b>Temperature-Controlled Shipping:</b><br />
          Maintain the integrity of your temperature-sensitive products with our
          state-of-the-art temperature-controlled shipping solutions.
        </li>
        <li>
          <b>High-Value Goods Security:</b><br />
          Protect your high-value goods with our secure handling processes,
          including specialized packaging and transportation.
        </li>
        <li>
          <b>Expedited Delivery:</b><br />
          Need it fast? Our expedited delivery services ensure that your
          critical shipments arrive on time, every time.
        </li>
      </ul>
      <p>
        Need a quote on a specific shipment or just want to inquire more about
        CGL<sup>®</sup> ? Please visit our
        <a class="quote-link" href="/quote">Quote Request</a> and
        <a class="contact-link" href="/contact">Contact</a> pages respectively!
      </p>
    </section>
  </body>
</html>
