<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Canadian Global Logistics specializes in the import and export of hockey equipment and sporting goods. With over 25 years of experience, we ensure seamless transportation, combining logistics expertise with a passion for sports. Trust us for efficient and reliable sporting goods logistics."
    />
    <link
      rel="preload"
      href="assets/images/nav-logo-optimized(2).webp"
      as="image"
    />
    <link rel="preload" href="assets/images/nav-banner.svg" as="image" />
    <link
      rel="icon"
      type="image/x-icon"
      href="../assets/images/icons/favicon.ico"
    />
    <title>CGL® - Sporting Goods</title>
  </head>
  <body>
    <section class="sporting-section">
      <div class="sporting-wrapper--outer">
        <div class="sporting-wrapper--inner">
          <div class="sporting-column--left">
            <h1>Hockey &<br />Sporting Goods</h1>
            <div class="years--wrapper">
              <img src="../assets/images/25-years-badge.png" alt="" />
              <p>
                Our specialized team expertly handles all aspects of import and
                export of hockey equipment and sporting goods.
              </p>
            </div>
            <div class="skating-wrapper">
              <h2>Skating to Success with Every Shipment</h2>
              <p>
                Delivering Excellence in Logistics, Just Like we do on the Ice
              </p>
            </div>
            <a class="contact-btn" href="/contact"><span>Contact Us</span></a>
          </div>
          <div class="sporting-column--right">
            <div class="hockey-img--wrapper">
              <img src="../assets/images/hockey-img.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
