<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Canadian Global Logistics specializes in the import and export of hockey equipment and sporting goods. With over 25 years of experience, we ensure seamless transportation, combining logistics expertise with a passion for sports. Trust us for efficient and reliable sporting goods logistics."
    />

    <link
      rel="icon"
      type="image/x-icon"
      href="../assets/images/icons/favicon.ico"
    />
    <title>CGL® - Sporting Goods</title>
  </head>
  <body>
    <section class="sporting-section">
      <div class="sporting-title--wrapper">
        <h1 class="sporting-title">Hockey & Sporting Goods</h1>
      </div>

      <div class="years-wrapper">
        <img
          src="../assets/images/25-years.webp"
          alt="25 years experience badge"
        />
        <h3>
          Over 25 years of experience handling all aspects of import and<br />
          export of hockey equipment and sporting goods.
        </h3>
      </div>
      <p class="sporting-intro--paragraph">
        — Welcome to Canadian Global Logistics - Your Specialist in Hockey and
        Sporting Goods Transportation —
      </p>
      <p class="sporting-intro--paragraph">
        At Canadian Global Logistics, we're not just logistics experts; we're
        passionate about sports too. We understand the value and importance of
        your sporting goods, especially when it comes to hockey - a sport that’s
        at the heart of our Canadian heritage. Trust us to make the
        transportation of your sporting goods as seamless as a perfect pass on
        the ice.
      </p>
      <div class="hockey-banner--wrapper">
        <img
          data-src="../assets/images/CGL-logo.webp"
          class="lazy"
          alt="CGL logo"
        />
        <h2>Skating to Success with Every Shipment</h2>
        <p>Delivering Excellence in Logistics, Just Like We Do on Ice</p>
      </div>
    </section>
  </body>
</html>
