<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="../assets/images/icons/favicon.ico"
    />
    <title>CGL® - Sporting Goods</title>
  </head>
  <body>
    <section>
      <div class="sporting-title--wrapper">
        <h1 class="sporting-title">Hockey & Sporting Goods</h1>
      </div>

      <div class="years-wrapper">
        <img src="../assets/images/25YearsExp.svg" alt="" />
        <h3>
          Over 25 years of experience handling all aspects of import and<br />
          export of hockey equipment and sporting goods.
        </h3>
      </div>
      <p class="sporting-intro--paragraph">
        — Welcome to Canadian Global Logistics - Your Specialist in Hockey and
        Sporting Goods Transportation —
      </p>
      <p class="sporting-intro--paragraph">
        At Canadian Global Logistics, we're not just logistics experts; we're
        passionate about sports too. We understand the value and importance of
        your sporting goods, especially when it comes to hockey - a sport that’s
        at the heart of our Canadian heritage. Trust us to make the
        transportation of your sporting goods as seamless as a perfect pass on
        the ice.
      </p>
      <div class="hockey-banner--wrapper">
        <img src="../assets/images/CGL-logo.png" alt="" />
      </div>
    </section>
  </body>
</html>
