<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Canadian Global Logistics offers comprehensive truck freight services with bonded delivery, tailgate, and time-sensitive appointment deliveries. Utilize our dedicated truck fleet for secure, efficient local pickups and deliveries. Request a quote to streamline your logistics operations and achieve cost savings."
    />

    <link
      rel="icon"
      type="image/x-icon"
      href="../assets/images/icons/favicon.ico"
    />
    <title>CGL® - Truck Transportation</title>
  </head>
  <body>
    <section class="transportation-section truck">
      <div class="title-wrapper">
        <div class="transport-icon--wrapper">
          <img
            class="truck-icon"
            src="../assets/images/icons/truck-icon.webp"
            alt="Truck Icon"
          />
        </div>

        <h1>Truck Freight Service</h1>
      </div>

      <div class="transport-wrapper freight-service--wrapper">
        <div class="transport-img--wrapper">
          <img src="../assets/images/truck2-cgl.jpg" alt="Truck image" />
        </div>

        <div class="transport-text--wrapper">
          <p>
            — Canadian Global Logistics is proud to be your trusted partner for
            comprehensive air freight services. We work closely with all major
            carriers, ensuring your cargo is transported safely and efficiently
            to and from international origins and destinations.
          </p>
          <p>Legalization services. Daily pick ups. Consolidation services</p>
          <a href="/quote" target="_blank">Request a quote</a>
        </div>
      </div>
      <div class="transport-text--wrapper__bottom">
        <p>
          Our bonded delivery service ensures the secure and efficient
          transportation of your goods. Bonded goods are those imported into a
          country for which duties and taxes are deferred until they are taken
          out of bond, which is particularly advantageous for clients dealing
          with high-value merchandise. This enables you to keep your merchandise
          safe and secure, while also offering significant cost savings.
        </p>
        <p>
          In addition, we understand the pressing need for timely deliveries in
          today's fast-paced business environment. That's why we offer tailgate
          and time-sensitive appointment deliveries. With our tailgate delivery
          services, we bring your freight directly to your doorstep, ensuring it
          arrives securely and on time. Our time-sensitive appointment
          deliveries are crafted to meet the specific needs of our clients who
          require precise scheduling. With this service, you can rest assured
          that your delivery will reach its destination exactly when it needs to
          be there.
        </p>
        <p>
          Moreover, Canadian Global Logistics provides the added benefit of
          utilizing our own truck fleet for local pickups and deliveries. This
          means we maintain complete control over the delivery process, ensuring
          a high level of reliability and efficiency. Our dedicated team of
          drivers and logistics experts work together to ensure your freight is
          handled with the utmost care and professionalism.
        </p>
        <p>
          For clients dealing with US IN BOND cargo, we offer a seamless
          solution of picking up your cargo and keeping it in our secure, bonded
          facility. This allows you to consolidate your orders, matching up
          different shipments and sending them all at once. This method not only
          streamlines your logistics but also defers the payment of customs
          clearance, duties, and taxes in Canada until the goods are taken out
          of bond. This strategic approach to handling your logistics can result
          in significant financial savings.
        </p>
        <p>
          In every service we provide, Canadian Global Logistics is committed to
          delivering a level of excellence that exceeds your expectations. We
          take pride in our ability to provide flexible, tailored solutions to
          meet your unique needs. Trust us to navigate the complexities of
          logistics, so you can focus on what you do best—running your business.
        </p>
      </div>
    </section>
  </body>
</html>
