.contact-form {
  max-width: 600px;
  margin: 10vh auto;
  padding: 20px;
  box-sizing: border-box;
}

/* wrappers */

.input-container {
  display: flex;
  justify-content: space-between;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 60px;
  position: relative;
}

.form-group {
  flex: 1;
  margin-right: 10px;
}

/* Labels */

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group label[for="message"] {
  margin-top: 20px;
}

/* Inputs */

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group textarea {
  display: block;
  width: 100%;
}

/* Button(s) & related components */

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

.loader {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  opacity: 0.5;
  background-color: black;
  z-index: -1;
}
