.contact-section {
  background-image: url("../assets/images/worldmap-new.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container-outer {
  padding-top: 10vw;
  width: 100vw;
  height: 100%;
  background: linear-gradient(to bottom, #ebfaffb0 60%, #ffffffa5);
  padding-bottom: 4.8rem;
}

.container-inner {
  max-width: 60vw;
  margin: 0 auto;
}

address p {
  margin-bottom: 0;
  font-style: normal;
  font-size: clamp(16px, 1.4vw, 1.8rem);
}

.office-contact {
  padding-top: 1.2rem;
}

.cargo-email {
  padding-top: 1.2rem;
}

.contact-info h2 {
  font-size: 2.8rem;
  margin-bottom: 0;
  font-weight: bold;
  color: #222;
  letter-spacing: 0.25px;
}

.tabs {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 2.4rem;
}

.tab-link {
  margin: 10px;
  padding: 12px 24px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 4px;
  display: block;
  border: 0px;
  font-weight: 700;
  background-image: linear-gradient(
    45deg,
    #0056b3 0%,
    #006fe6 51%,
    #0056b3 100%
  );
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  letter-spacing: 1px;
}

.tab-link:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.tab-link.active {
  filter: grayscale(0.5);
}

.tab-link.active:hover {
  cursor: default;
}

.title-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 2.4rem;
}

.title-wrapper img {
  width: 50px;
  height: 50px;
  margin-right: 1.2rem;
}

h1.quebec-title,
h1.ontario-title {
  color: #103e79;
}

/* MAP SECTION */
.map-section--wrapper {
  display: flex;
  align-items: center;
  margin: 0 auto 0 auto;
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.1);
}

.map-container {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.map-container iframe {
  min-width: 350px;
  width: 100%;
  height: 40vh;
  border: none;
  border-radius: 8px;
}

.office-container,
.cargo-wrapper--outer {
  padding: 16px 32px;
}

.contact-form--wrapper__outer {
  width: 100%;
}

.contact-form--wrapper__inner {
  width: 100%;
  margin: 0 auto 3.2rem auto;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  padding-left: 2.4rem;
  width: 100%;
}

.contact-form {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  padding: 60px 20px 0 20px;
  box-sizing: border-box;
}

.contact-form h2 {
  text-align: center;
  padding-bottom: 0.8rem;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: #222;
  font-size: clamp(24px, 3vw, 3.2rem);
}

/* override general/global styles */
label {
  font-size: 1.4rem;
}
/* wrappers */

.input-container {
  display: flex;
  justify-content: space-between;
}

.form-group {
  flex: 1;
  margin-right: 10px;
}

/* Labels */

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group label[for="message"] {
  margin-top: 20px;
}

.form-group input:not([type="checkbox"], [type="radio"]),
.form-group textarea {
  width: 100%;
  padding: var(--space-sm);
  box-sizing: border-box;
  border: 1px solid rgb(161, 206, 221);
  border-radius: var(--radius-sm);
  opacity: 0.8;
  font-family: "Nunito", sans-serif;
  font-size: 1.4rem;
  transition: all var(--transition-normal);
}

.form-group input:not([type="checkbox"], [type="radio"]):focus,
.form-group textarea:focus {
  border: 2px solid #103e79;
  opacity: 1;
  outline: none;
}
.form-group textarea {
  display: block;
  width: 100%;
  max-width: 100%;
  max-height: 200px;
}

button {
  padding: 10px 20px;
  background-color: #006fe6;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
}

button:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 1167px) {
  .map-section--wrapper {
    flex-direction: column;
  }
  .contact-info {
    padding-left: 0;
  }
}

@media screen and (max-width: 651px) {
  .tabs {
    justify-content: center;
    padding-bottom: 2.4rem;
    gap: 1.4rem;
    border-bottom: 1px solid grey;
    margin-bottom: 2.4rem;
  }

  .container-inner {
    padding-top: 6.4rem;
    max-width: 80vw;
  }
}

@media screen and (max-width: 455px) {
  .map-container iframe {
    height: 280px;
  }

  .contact-form {
    padding: 0px 20px 40px 20px;
  }
}
