.flickity-page-dots {
  bottom: 0px;
  padding-bottom: 1.2rem;
}
.carousel {
  padding-bottom: 3.2rem;
}
.carousel-cell {
  width: 100%;
  overflow: hidden;
}

.carousel-cell img {
  display: block;
  width: 100%;
  height: auto;
  opacity: 0;
  transition: opacity 500ms ease;
}

.carousel-cell img.lazyloaded {
  opacity: 1;
}

.carousel-cell a {
  display: block;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-text {
  color: white;
  font-size: clamp(1.5rem, 2.5vw, 3.2rem);
  text-align: center;
  padding: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.carousel-cell a:hover .overlay {
  opacity: 1;
  transform: translateY(0);
}

.carousel-warehouse > .flickity-viewport {
  max-height: 550px;
}
@media screen and (max-width: 553px) {
  .flickity-prev-next-button {
    top: 43%;
    width: 30px;
    height: 30px;
  }
}
