.error-message {
  color: red;
  margin-top: 5px;
  display: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

.error-message:not(.error-hidden) {
  display: block;
}

.error-hidden {
  display: none;
}

/* Success Message */
.success-message {
  position: absolute;
  display: none;
  bottom: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: 0.25px;
  color: green;
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

.success-message.contact-success {
  bottom: 8px;
}

.success-message.quote-success {
  bottom: -20px;
}

.success-message:not(.success-hidden) {
  display: block;
}

.success-hidden {
  display: none;
}


@media screen and (max-width: 455px) {
  .success-message.contact-success {
    font-size: 1.2rem;
    bottom: 8px;
    left: 2px;
  }
}
