/* nav.css */
.main-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  position: relative;
}

.nav-links a {
  color: black;
  text-decoration: none;
  padding: 1rem;
  display: block;
}

.nav-links a:visited {
  color: black;
}
/* Dropdown styles */
.dropdown-content {
  display: none;
  position: absolute;
  list-style: none;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-content li {
  width: 100%;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Mobile styles */
.burger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 12px;
  z-index: 8;
}

.burger-menu span {
  width: 25px;
  height: 3px;
  background: black;
  margin: 2px;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 50%;
    background: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
  }

  .nav-links.active {
    display: flex;
    transform: translateX(0);
    padding-top: 48px;
  }

  .burger-menu {
    display: flex;
  }

  .burger-menu.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .burger-menu.active span:nth-child(2) {
    opacity: 0;
  }

  .burger-menu.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}
