.main-nav {
  position: fixed;
  top: 0;
  height: fit-content;
  z-index: 3;
  transition: opacity 240ms ease;
  width: 100%;
}

.navbar .wrapper {
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  padding: clamp(0.5rem, 5vw, 2rem);
  gap: 1rem;
}

.logo-wrapper {
  width: 100%;
  z-index: 999;
}

.logo-wrapper img {
  max-width: 6vw;
  margin-left: 50px;
}

.wrapper {
  margin: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  box-sizing: border-box;
}

.backdrop {
  position: absolute;
  top: -1.5rem;
  left: -1.5rem;
  right: 0;
  pointer-events: none;
  z-index: 0;
}

.backdrop img {
  width: 100%;
  margin-top: -2vw;
}

.nav-links {
  display: flex;
  list-style: none;
  position: relative;
  z-index: 1;
}

.nav-links > li {
  position: relative;
  list-style: none; /* Optional: Remove default list style */
  padding-bottom: 5px; /* Add some padding to ensure space for the underline */
}

.nav-links > li::before {
  content: "";
  position: absolute;
  top: 31px;
  left: 50%;
  width: 0;
  height: 3px; /* Adjust the height of the underline */
  background-image: linear-gradient(to right, #8fd6ab, #0047be);
  transition: width 0.3s ease, left 0.3s ease;
}

.nav-links > li:hover::before {
  width: 100%;
  left: 0;
}

.nav-links a {
  font-size: 1.4rem;
  color: black;
  text-decoration: none;
  padding: 1rem;
  display: block;
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
}

.nav-links a:visited {
  color: black;
}

.nav-links a.current-page {
  color: blue;
  font-weight: bold;
}

.dropdown-content {
  display: none;
  position: absolute;
  list-style: none;
  top: 40px;
  left: 0;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-content li {
  width: 100%;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Mobile styles */
.burger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 12px;
  z-index: 8;
}

.burger-menu span {
  width: 25px;
  height: 3px;
  background: grey;
  margin: 2px;
  transition: 0.3s;
}

@media (max-width: 1219px) {
  .backdrop img {
    margin-top: 0px;
  }
}

@media (max-width: 768px) {
  .logo-wrapper,
  .backdrop {
    display: none;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 50%;
    background: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
  }

  .nav-links.active {
    display: flex;
    transform: translateX(0);
    padding-top: 48px;
    padding-left: 20px;
  }

  .dropdown-content {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: none;
    margin-left: 12px;
  }

  .dropdown-content.active {
    display: block;
  }

  .burger-menu {
    display: flex;
  }

  .burger-menu.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .burger-menu.active span:nth-child(2) {
    opacity: 0;
  }

  .burger-menu.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}
