main {
  padding-bottom: 2.4rem;
  max-width: 80vw;
  margin: 10vw auto;
}

main h1 {
  padding-bottom: 2.4rem;
}

form {
  display: flex;
  flex-direction: column;
}

fieldset {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.form-row__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 8px;
}

.dimensions-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.form-group {
  flex: 1;
  min-width: 220px;
  display: flex;
  flex-direction: column;
}

.form-group.personal-effects {
  flex-direction: row;
}

label {
  margin-bottom: 5px;
}

label.nonPersonal {
  display: flex;
  align-self: center;
  margin-left: 8px;
}

#nonPersonal {
  display: flex;
  align-self: center;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
  min-height: 60px;
}

.form-actions {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.btn-container.form-actions {
  width: 100%;
  justify-content: space-between;
}

.submit-btn {
  background-color: #007bff;
  color: white;
}

.submit-btn:hover {
  background-color: #0056b3;
}

.clear-btn {
  background-color: #dc3545;
  color: white;
}

.clear-btn:hover {
  background-color: #c82333;
}

@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
  }

  .logo-wrapper {
    display: none;
  }

  .form-row__grid {
    grid-template-columns: 1fr;
  }

  label {
    padding-bottom: 0.25rem;
  }
}
