.handling-intro__section-1 {
  padding-top: 20vh;
}
.handling-title--wrapper {
  width: 100%;
}
.handling-title--wrapper p {
  text-align: center;
}
h1.handling-title {
  padding-bottom: 1.2rem;
  padding-top: 4.2rem;
  background-image: linear-gradient(to right, #8fd6ab, #0047be);
  background-repeat: no-repeat;
  background-size: 98% 3px;
  background-position: bottom;
  margin-bottom: 2.4rem;
  width: fit-content;
  text-align: center;
}

.delivery-section--1 {
  margin-top: 4.8rem;
  display: flex;
}

.delivery-section--1__p2 {
  padding-left: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.delivery-ribbon--wrapper {
  display: flex;
  justify-content: center;
  user-select: none;
}

.handling-services__section-2 {
  padding-bottom: 4.8rem;
}

.handling-services__section-2 h2 {
  font-weight: 700;
  padding-top: 3.2rem;
}

.handling-services__section-2 ul {
  margin-left: 3.2rem;
}

.quote-link,
.contact-link,
.quote-link:visited,
.contact-link:visited {
  color: black;
}

.quote-link:hover,
.contact-link:hover {
  font-weight: 700;
}
@media screen and (max-width: 1366px) {
  .handling-intro__section-1 {
    padding-top: 10vh;
  }
  .delivery-section--1__p1 img {
    width: 44vw;
  }
}

@media screen and (max-width: 768px) {
  .handling-title--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .delivery-section--1 {
    flex-direction: column;
    margin-top: 1.2rem;
  }
  .delivery-section--1__p1 img {
    width: 100%;
  }
  .delivery-section--1__p2 {
    padding-left: 0;
    padding-top: 2.4rem;
  }
}
