.sporting-title--wrapper {
  width: 100%;
  padding-top: 20vh;
  display: flex;
  justify-content: center;
}
h1.sporting-title {
  user-select: none;
  padding-bottom: 1.2rem;
  padding-top: 4.2rem;
  background-image: linear-gradient(to right, #8fd6ab, #0047be);
  background-repeat: no-repeat;
  background-size: 98% 3px;
  background-position: bottom;
  margin-bottom: 2.4rem;
  width: fit-content;
}
.years-wrapper {
  user-select: none;
  margin-bottom: 3.2rem;
  padding: 2.4rem 0 2.4rem 0;
  background: linear-gradient(
    to bottom,
    rgb(184, 184, 184),
    rgba(184, 184, 184, 0)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.4rem;
}
.years-wrapper img {
  width: 170px;
  height: auto;
  margin: 20px;
}
.years-wrapper h3 {
  font-weight: 700;
  font-family: "Nunito", sans-serif;
  text-align: center;
}

.sporting-intro--paragraph {
  text-align: center;
}

.hockey-banner--wrapper {
  height: 466px;
  background: url(../assets/images/hockey-banner.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
}

.hockey-banner--wrapper img {
  grid-column: 1;
  width: 100%;
  margin-left: 5.6rem;
}
