.title-wrapper {
  display: flex;
  align-items: center;
  padding-top: 2.4rem;
  padding-bottom: 1.2rem;
  font-family: "Roboto", sans-serif;
  margin-top: 15vh;
}

.title-wrapper h1 {
  font-weight: 400;
  margin-left: 1.2rem;
}

.transport-wrapper {
  display: flex;
  align-items: center;
  padding-top: 1.2rem;
}

.transport-wrapper img {
  width: 40vw;
}

.transport-text--wrapper {
  padding-left: 2.4rem;
}
.transport-text--wrapper p {
  font-style: italic;
}

.transport-text--wrapper a {
  font-weight: 700;
  color: black;
}

.transport-text--wrapper__bottom {
  padding-top: 2.4rem;
}
